@use "../../sass/variables" as *;

.home {
    &__products {
        padding: 0 166px 166px;
        display: flex;
        flex-wrap: wrap;
        gap: 6rem;
        justify-content: center;
    }

    &__card {
        width: 330px;
        height: 337px;
        border: solid 1px $border-background-card;
        border-radius: 8px;
    }

    &__card-description {
        padding: 16px;
        text-align: center;

        p {
            padding: 11px;
        }

    }

      
}